.greetingForm {
    padding: 30px;
}

.inputAndButtonContainer {
}

.error {
    color: #cc0000;
}

.input {
}

.input:focus {
}

.errorInput {
    border: #cc0000 1px solid;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {

}

.greeting {
}
