/* Общий стиль для select */
.select {
    width: 180px;
    height: 25px;
    font-size: 16px;
    /*padding: 10px;*/
    /*border-radius: 5px;*/
    border: 1px solid #ccc;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

/* Стиль при фокусе на select */
.select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    outline: 0;
}

/* Стиль при наведении на опцию */
.select option:hover {
    background-color: #f7f7f7;
}