.burgerMenuIcon {
    width: 50px;
    cursor: pointer;

}

.header {
    align-items: center;
    background-color: snow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header h1 {
    font-family: Montserrat;
    font-weight: revert;
    margin-right: 28px;

}